{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=CryptPad ({{ cryptpad_identifier }})
{% for service in cryptpad_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in cryptpad_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ cryptpad_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ cryptpad_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ cryptpad_identifier }} \
      --log-driver=none \
      --user={{ cryptpad_uid }}:{{ cryptpad_gid }} \
      --cap-drop=ALL \
      --read-only \
      --network={{ cryptpad_container_network }} \
      --env-file={{ cryptpad_base_path }}/env \
      --label-file={{ cryptpad_base_path }}/labels \
      --health-interval={{ cryptpad_container_health_interval }} \
      --mount type=bind,src={{ cryptpad_base_path }}/config.js,dst=/cryptpad/config/config.js,readonly \
      --mount type=bind,src={{ cryptpad_blob_path }},dst=/cryptpad/blob \
      --mount type=bind,src={{ cryptpad_block_path }},dst=/cryptpad/block \
      --mount type=bind,src={{ cryptpad_customize_path }},dst=/cryptpad/customize \
      --mount type=bind,src={{ cryptpad_data_path }},dst=/cryptpad/data \
      --mount type=bind,src={{ cryptpad_files_path }},dst=/cryptpad/datastore \
      --tmpfs=/.npm:rw,noexec,nosuid,size=100m \
      --tmpfs=/tmp:rw,noexec,nosuid,size=100m \
      {% for arg in cryptpad_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ cryptpad_container_image_self_build_name if cryptpad_container_image_self_build else cryptpad_container_image }}


{% for network in cryptpad_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ cryptpad_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ cryptpad_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ cryptpad_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ cryptpad_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ cryptpad_identifier }}

[Install]
WantedBy=multi-user.target
